# Ignore Python cache files
__pycache__/

# Ignore PyCharm files
.idea/

# Ignore Dev files
Le_Dev/

# Ignore customer details (as they may change after tests)
customer.txt

# Ignore customers' history (as they may change after tests)
history/
